attrs==21.4.0
click==8.1.3
Flask==2.1.2
-e git+https://github.com/MatiasDwek/goaly.git@42657cdb0c3e551b1e78182c7647ac97cf858a16#egg=goaly_api&subdirectory=goaly-api
gunicorn==20.1.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.1
more-itertools==8.13.0
packaging==21.3
pluggy==0.13.1
py==1.11.0
pyparsing==3.0.9
pytest==5.4.3
python-dotenv==0.20.0
wcwidth==0.2.5
Werkzeug==2.1.2
